{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [lhttpc, lager, cowboy, jsone, parse_trans]}.
{plugins, [
  {rebar3_diameter_compiler, {git, "git@github.com:captainbeardo/rebar3_diameter_compiler.git", {branch, "master"}}}
  ]}.

{dia_first_files, ["rfc4005_nas.dia", "rfc4590_digest.dia"]}.

{relx, [{release, {kraken, "0.0.2"},
         [kernel,
         stdlib,
         lager,
         sasl,
         ssl,
         cowboy,
         diameter,
         kraken]},

        {dev_mode, true},
        {include_erts, true},
        {vm_args, "config/vm.args"},
        {sys_config, "config/sys.config"},

        {extended_start_script, true}]}.

{profiles, [{prod,
            [{relx, [{dev_mode, false}]}]}]}.
